# ENV
.env
.env.local
.env.production

# NEXT.JS
.next/
out/

# NODE
node_modules/
npm-debug.log*

# SPRING BOOT
spring-backend/target/
spring-backend/logs/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IntelliJ
*.iml

# VS Code local workspace
*.code-workspace

# Electron
/electron/dist